main {
  margin-left: 500px;
  margin-top: 200px; }

header {
  background-color: black; }

.word {
  font-size: 60px;
  margin-top: -60px;
  margin-left: -30px; }

.newgame {
  height: 100px;
  width: 260px;
  margin-left: -5px;
  position: absolute;
  margin-top: -60px;
  border-radius: 20px;
  font-size: 18px; }

.man {
  height: 400px;
  width: 400px;
  margin-left: -470px;
  margin-top: -98px;
  padding-bottom: 80px;
  position: absolute; }

.man1 {
  height: 298px;
  width: 100px;
  margin-left: -470px;
  margin-top: -98px;
  padding-bottom: 80px;
  position: fixed; }

.man2 {
  background-color: black;
  height: 100px;
  width: 100px;
  position: fixed;
  margin-left: -370px;
  margin-top: -98px;
  padding-bottom: 0px; }

.man3 {
  background-color: black;
  padding-top: 0px;
  height: 100px;
  width: 100px;
  position: fixed;
  margin-left: -370px;
  margin-top: 0px;
  padding-bottom: 0px; }

.man4 {
  background-color: black;
  padding-top: 0px;
  height: 100px;
  width: 100px;
  position: fixed;
  margin-left: -370px;
  margin-top: 100px;
  padding-bottom: 0px; }
